<%="submitted #{time_ago_in_words(@post.created_at)} ago"%>
<%= "by "%>
<% if @post.user.nil? %>
<%= "[deleted]" %>
<% else %>
<%= link_to @post.user.username, controller: "users", action: "show", id: @post.user %>
<% end %>

<p>
  <% if @post.try(:url) %>
    <%= link_to @post.url do %>
      <%= simple_format @post.title %>
    <% end %>
    <%= image_tag @post.image_url, width: '500' %>
  <% else %>
    <%= simple_format @post.title %>
    <% end %>
</p>

<p>
  <%= @post.text %>
</p>

<% if current_user == @post.user %>
  <%= link_to 'Destroy', post_path(@post),
                method: :patch,
                data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render 'comments/form' %>

<ul> <%= render partial: 'comments/comment', collection: @post.comments.sort_by{|p| p.score_total}.reverse %> </ul>
